<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="ScreenOCRTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ScreenOCRTranslator.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ModelName" serializeAs="String">
        <value />
      </setting>
      <setting name="TranslationModeIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LanguageModeIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OverlaySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ApiKey_MistralPixtral" serializeAs="String">
        <value />
      </setting>
      <setting name="ModelName_MistralPixtral" serializeAs="String">
        <value>mistral-large-2512</value>
      </setting>
      <setting name="ApiKey_Llama4" serializeAs="String">
        <value />
      </setting>
      <setting name="ModelName_Llama4" serializeAs="String">
        <value>meta-llama/llama-4-scout-17b-16e-instruct</value>
      </setting>
      <setting name="ActivationKeyboardKey" serializeAs="String">
        <value>q</value>
      </setting>
      <setting name="ActivationMouseButton" serializeAs="String">
        <value>Left</value>
      </setting>
    </ScreenOCRTranslator.Properties.Settings>
  </userSettings>
</configuration>
